body{
    background-color: rgb(105, 218, 255);
    padding: 24px;
}

h1{
    text-align: center;
    font-size: 60px;
    font-weight: 100;
}

#picSec{
    display: flex;
}

#selButt{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.buttonSel{
    margin: 5px;
    height: 3em;
    width: 10em;
    font-size: 12px;
    font-weight: bold;
    border: solid;
    border-width: 0px;
    border-color: orangered;
    background-color: bisque;
    border-radius: 15px;
}

.buttonSel#envButt{
    border-width: 2px;
}


.picture{
    position: relative;
}

.sender{
    position: absolute;
    top: 30px;
    left: 30px;
}

.receiver{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.selection{
    font-size: 18px;
}

#picPost .receiver{
    left: 25%;
}

#picPost{
    display: none;
}

.boxes{
    margin: 8px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 24px;
    padding-top: 0px;
    padding-bottom: 50px;
    border: solid;
    border-width: 1px;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
}

.boxes h6{
    font-size: 15px;
    font-weight: 100;
    color: rgb(58, 57, 57);
}

.textbox{
    margin-bottom: 20px;
}

input[type = text]{
    margin-left: 8px;
}

#sendBox input[type = text]{
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: black;
}

.name, .address, .appartment, .city, .country{
    display: flex;
}

#sName, #rName, #sAppartment, #rAppartment{
    flex: 1;
    margin-right: 550px;
}

#rStrAddress, #sStrAddress{
    flex: 1;
    margin-right: 500px;
}

#rCity, #sCity, #rCountry, #sCountry{
    flex:1;
    margin-right: 700px;
}

img{
    height: auto;
    width: 1000px;
}

.picture{
    margin: 10px;
    margin-bottom: 20px;
}

.submitSec{
    display: flex;
    justify-content: end;

}

input[type = submit]{
    margin-right: 50px;
    height: 2.5em;
    width: 6.5em;
    font-size: 24px;
    background-color: white;
    border-radius: 24px;
    border: solid;
    border-width: 2px;
    
}

#everythingElse{
    margin-top: 24px;
    background-color: rgb(241, 229, 191);
    padding: 20px;
    border-radius: 15px;
}

#recTut, #sendTut{
    margin-bottom: 50px;
    margin-top: 30px;
}

#recTut p, #sendTut p{
    font-size: 18px;
}

#creditBox{
    font-size: 10px;
    margin-top: 24px;
    background-color: rgba(211, 211, 211, 0.623);
    padding: 10px;
}

#picAll{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}